  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*
    {
        margin: 0;
        padding: 0;
    }
div h1
    {
        height: 100px;
        background-color: rgb(34, 37, 33);
        text-align: center;    
    }
h1
    {
        padding-top:30px;
        font-size: 50px;
        font-family:'Bree Serif', serif;
        color: rgb(227, 227, 227);
    }
.image
    { 
        height: 300px;
        margin-left: 600px;
        margin-top: 20px;
        border: 2px solid white ;
    }
main
    {
        background-color: rgb(34, 37, 33);
        height: 2000px;
    }
.heading5
    {
        margin-right: 35%;
        margin-left: 35%;
        background-color: rgb(124, 131, 170);
    }
.heading4
    {
        color: rgb(255, 255, 255);
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        font-family:'Bree Serif', serif;
        }
.main1
    {
        background-color: rgb(183, 185, 170);
        height: 1550px;
        margin-right: 100px;
        margin-left: 100px;
    }
.main2
    {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 30px;
        font-size: 30px;
    }
footer
    {
        background-color:rgb(34, 37, 33) ;
        color: white;
        font-size: 25px;
        
    }
.foot1
    {
        margin-left: 100px;
        text-align: center;   
         padding-bottom: 30px;
    }